div {
    border-style: solid;
    border-width:1px;     
    padding: 30px;
}
.list-group-item {
    margin-top: 30px;
    margin-bottom: 30px;
}
.red {
    background-color: red;
    color: white;
}
.letters {
    font-size: 18px;
    color: white;
}
.padding {
    padding-top: 30px;
}
.aboutTab {
    background-color: orangered;
    color: black;
}
.projectTab {
    background-color: #009900;
    color: black;
}
.techTab {
    background-color: #0066cc;
    color: black;
}
.text {
    text-align: center;
}
.picAlign {
    padding-left: 100px
}